.card-container {
    padding: 0 !important;
    text-align: center;
}

.course-content {
    padding: 10px 15px !important;
}

.box .card-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.box .course-content a {
    padding: 5px 10px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}

.box .course-info {
    justify-content: space-between;
    cursor: pointer;
}

.wrraper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}